{% extends "base_template.html" %}
{% load static %}

    {% block title %}
        <title>Pé Confortavel</title>
    {% endblock %}



            {% block menu %}
            <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Início</a>
                    <a href="{% url 'produtos:cadastro' %}" class="nav-link">Cadastro</a>
                    <a href="{% url 'produtos:listar' %}" class="nav-link">Listar</a>
                </div>
            </div>
        </nav>
            {%  endblock %}

            
        {% block titulo_pagina %}
        
        
        {% endblock %}

        {% block corpo %}
        <main class="container m-2 w-75 mx-auto my-font-family">

    <div class="hero">
        <div class="col text-center m-0">
            <h1 class="mt-2 mb-5 my-h2">Cadastro de produtos</h1>
        </div>
    </div>

    <!-- formulario HTML -->
    <section class="hero">
    <form name="frmCadastrar" action="{% url 'produtos:cadastrar' %}" method="post" class="my-label-color-purple">
    {% csrf_token %}
    
    <div class="row mb-3">
        <div class="col-md-12">
            <label for="idNomeProdutos" class="form-label">Nome do produto</label>
            <input class="form-control" type="text" id="idNomeProdutos" name="nome" 
                   placeholder="Informe o nome do produto" maxlength="70" required>
        </div>
    </div>

        <div class="col-md-6">
            <label for="idPrecoCompra" class="form-label">Preço de compra</label>
            <input class="form-control" type="number" step="0.01" min="0" id="idPrecoCompra" name="precoCompra" 
                   placeholder="Informe o preço de compra" required>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-8">
            <label for="idPrecoVenda" class="form-label">Preço de venda</label>
            <input class="form-control" type="number" step="0.01" min="0" id="idPrecoVenda" name="precoVenda" 
                   placeholder="Informe o preço de venda" required>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <label for="idCor" class="form-label">Cor</label>
            <select class="form-select" id="idCor" name="cor" required>
                <option value="0">Selecione...</option>
                <option value="azul">Azul</option>
                <option value="vermelho">Vermelho</option>
                <option value="verde">Verde</option>
                <option value="amarelo">Amarelo</option>
                <option value="branco">Branco</option>
                <option value="preto">Preto</option>
                <option value="marrom">Marrom</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="idFornecedor" class="form-label">Informe o fornecedor</label>
            <select class="form-select" id="idFornecedor" name="fornecedoresCodigo">
                <option value="0">Selecione...</option>
                {% for fornecedores in fornecedores %}
                    <option value="{{ fornecedores.codigo }}">{{ fornecedores.nome }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="idDataFabricacao" class="form-label">Data de fabricação</label>
            <input class="form-control" type="date" id="idDataFabricacao" name="DataFabricacao" 
                   placeholder="Informe a data de fabricação" maxlength="25" required>
        </div>
        <div class="col-md-6">
            <label for="idImagem" class="form-label">Nome da imagem do produto</label>
            <input class="form-control" type="text" id="idImagem" name="imagem" 
                   placeholder="Informe o nome da imagem do produto" maxlength="25" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 text-center">
            <button type="reset" class="btn btn-outline-secondary me-2">Limpar</button>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </div>
</form>
    </section>

        {% endblock %}