{% extends "base_template.html" %}


    {% block title %}
        <title>Pé Confortavel</title>
    {% endblock %}



            {% block menu %}
            <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Início</a>
                    <a href="" class="nav-link">Clientes</a>
                    <a href="" class="nav-link">Contato</a>
                    <a href="" class="nav-link">Fornecedores</a>
                    <a href="" class="nav-link">Login</a>
                    <a href="" class="nav-link">Produtos</a>
                    <a href="" class="nav-link">Venda</a>
                </div>
            </div>
        </nav>
            {%  endblock %}

            
        {% block titulo_pagina %}
        
        
        {% endblock %}

    </header>

    
    
    {% block corpo %}
    <section class="hero">
            <h2>Bem-vindo à Pé Confortável Ltda.</h2>
            <p>Descubra nossa coleção exclusiva de calçados para toda a família. Conforto e qualidade em primeiro lugar!</p>
        </section>
        
        <section>
            <h3>Destaques</h3>
            <p>Confira nossas promoções especiais e novos lançamentos.</p>
            <!-- Espaço reservado para produtos em destaque -->
        </section>
    {% endblock %}

   