{% extends "base_template.html" %}
{% load static %}

    {% block title %}
        <title>Pé Confortavel</title>
    {% endblock %}



            {% block menu %}
            <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Início</a>
                    <a href="{% url 'venda:cadastro' %}" class="nav-link">Cadastro</a>
                    <a href="{% url 'venda:listar' %}" class="nav-link">Listar</a>
                </div>
            </div>
        </nav>
            {%  endblock %}

            
        {% block titulo_pagina %}
        
        
        {% endblock %}

    

    
    
{% block corpo %}
    <main class="container px-0 mx-auto my-font-family">
    <div class="row">
        <div class="col text-center m-0">
            <h1 class="hero">Vendas</h1>
        </div>
    </div>

    {% if venda %}
    <section class="hero">
        <div class="table-responsive">
            <table class="table table-borderless text-center my-table-hover my-table-image 
                        my-table-td-first-child my-table-border-bottom my-table-th w-100">
                <thead>
                    <tr>
                        <th>Código Venda</th>
                        <th>Data da Venda</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço Unitário</th>
                        <th>Total Venda</th>
                        <th>Cliente</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venda_item in venda %}
                        {% for item in item_venda %}
                            {% if item.vendaNumero.numero == venda_item.numero %}
                            <tr>
                                <td>{{ venda_item.numero }}</td>
                                <td>{{ venda_item.dataVenda|date:"d/m/Y" }}</td>
                                <td>{{ item.produtoCodigo.nome }}</td>
                                <td>{{ item.quantidade }}</td>
                                <td>R$ {{ item.precoVenda|floatformat:2 }}</td>
                                <td>R$ {{ venda_item.valorVenda|floatformat:2 }}</td>
                                <td>{{ venda_item.clienteCpf.nome }} ({{ venda_item.clienteCpf.cpf }})</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% else %}
    <div class="text-danger">
        <p>Não há vendas cadastradas</p>
    </div>
    {% endif %}
</main>
{% endblock %}
